a {
    text-decoration: none;
}

.header-elements {
    background-color: darkgrey;
    font-family:'Monaco', 'Times New Roman', 'Verdana', 'Lucida Console', 'Arial', sans-serif;
    color: darkblue;
    
}

.header-elements h1 {
    display: inline-block;
    
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family:'Monaco', 'Times New Roman', 'Verdana', 'Lucida Console', 'Arial', sans-serif;
    font-size: 20px;
}

li {
    list-style-type: none;
}