/* Universal Selector */
/* Gets rid of the margin around the NavBar */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Element Selector */
/* Gets rid of the underline style on the three links */
a {
    text-decoration: none;
}

/* Class Selector */
/* Sets the background color, adds fonts to the text, and sets the color of the font */
/* Makes the header one and the nav links responsive to screen size change */
.header-elements {
    background-color: darkgrey;
    font-family:'Monaco', 'Times New Roman', 'Verdana', 'Lucida Console', 'Arial', sans-serif;
    color: darkblue;
    display: flex;
    

    
}

/* Class Select & Element Selector */
/* Places the three links inside the NavBar and extends the NavBar lower */
/* Gives the header one proper padding and left margin in relation to the NavBar */
.header-elements h1 {
    display: inline-block;
    height: 100px;
    padding-top: 27px;
    margin-left: 15px;
    
    
}

/* Element Selector */
/* Gives proper padding to the three links and proper margin in relation to the NavBar */
/* Places the three links to the right of the page */
/* Sets the height of the NavBar */
nav {
    padding-top: 35px;
    margin-right: 20px;
    float: right;
    height: 150px;
}

/* Element Selector */
/* Gets rid of the bullet points on the three links */
/* Sets the three links inside the NavBar */
/* Sets proper spacing between the three links and gives a font size */

li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
    font-size: 20px;
    

}

/* Set the height of the photo to be responsive to screen size change*/
/* Sets the max width to be responsive to screen size change */
/* Centers the image with margin left and margin right */
img {
    height: auto;
    max-width: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;

}

/* Gives a background color of beige to the body element */
body {
    background-color: beige;
}

/* Centers the header two and the paragraph */
/* Gives a top margin to put space between the about content and the image above */
/* Gives a background color of white to the about section */
.about-me-page {
    text-align: center;
    margin-top: 20px;
    background-color: white;
    
}