/* Universal Selector */
/* Sets padding and border with box-sizing */
/* Gets rid of the space around the NavBar and other elements*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Element Selector */
/* Gives a background color of beige to the body of the website */
body {
  background-color: beige;
}

/* Class Selector */
/* Sets the background color, adds fonts to the text, and sets the color of the font */
/* Makes the header one and the nav links responsive to screen size change */
.header-elements {
  background-color: rosybrown;
  font-family:'Monaco', 'Times New Roman', 'Verdana', 'Lucida Console', 'Arial', sans-serif;
  color: darkblue;
  /* When I added display flex, it adjusted the links and header to resizing the screen.*/
  /* However, it moved the links to the left of the website instead of the right? */
  display: flex;
  
}

/* Class Selector & Element Selector */
/* Places the three links inside the NavBar and extends the NavBar lower */
/* Gives the header one proper padding and left margin in relation to the NavBar */
/* Sets the text color to black */
.header-elements h1 {
  display: inline-block;
  padding-top: 1px;
  margin-left: 15px;
  color:black;
  
}

/* Element Selectors */
/* Gives proper padding to the three links and proper margin in relation to the NavBar */
/* Places the three links to the right of the page. However, it is not working now */
/* Sets the height of the NavBar */
nav {
  padding-top: 50px;
  margin-right: 20px;
  float: right;
  height: 130px;
}

/* Gets rid of the bullet points on the three links */
/* Sets proper spacing between the three links and gives a font size */
li {
  list-style-type: none;
  display: inline-block;
  margin-left: 25px;
  font-size: 20px;
}

/* Gets rid of the underline style on all links */
/* Sets all the links color to dark blue */
a {
  text-decoration: none;
  color: darkblue;
}

/* Changes the dark blue links to a lighter blue when the user hovers the cursor over the links */
a:hover {
color:blue;
}

/* Sets max-width of the main element */
/* Sets the top and bottom margin to have no space */
/* Centers the elements */
main {
  max-width: 1250px;
  margin: 0 auto;
}

/* Set the height of my photo to be responsive to screen size change*/
/* Sets the max width to be responsive to screen size change */
/* Centers the image with margin left and margin right */
img {
    height: auto;
    max-width: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}


/* Class Selectors */
/* Makes the photo a circle */
/* Sets space for top and bottom of the photo */
.rounded-edges {
  border-radius: 30%;
  padding-top: 20px;
  padding-bottom: 30px;
}

/* Centers the header two and the paragraph */
/* Gives a top margin to put space between the about content and the image above */
/* Gives a background color of dark khaki to the about section */
/* Sets proper spacing around the text in relation to the box */
.about-me-page {
    text-align: center;
    margin-top: 50px;
    background-color: darkkhaki;
    padding: 20px; 
}

/* ID Selector */
/* Centers the text */
/* Sets space on the top of the box in relation to the About Me section */
/* Sets a background color to the box of dark khaki */
/* Sets padding around the text in relation to the box */
#work {
  text-align: center;
  margin-top: 50px;
  background-color: darkkhaki;
  padding: 20px;
}

/* Class Selectors and Element Selector */
/* Sets the width of the gallery and their images and the larger image */
.gallery img, .larger-image {
  width: 100%;
  
}

/* Class Selectors */
/* Sets the border around the gallery and the larger image */
/* Styles the border */
/* Sets a background color for the gallery of dark khaki */
.gallery, .larger-image {
    border: 1px solid #ccc;
    background-color: darkkhaki;
    
}

/* Sets a gold border around the galleries when user hovers the cursor over the gallery and image */
.gallery:hover, .larger-image:hover {
    border: 3px solid gold;
}

/* Sets the gallery in a table arrangement */
/* Sets space for the gallery and images and larger image in relation to each other and the size of the window */
/* Sets the width and height */
/* When the window is resized, the gallery will stack on top of each other using the full width of the screen*/
.responsive {
  padding: 0 5px;
  flex: 0 0 100%;
}

/* Sets the gallery cards to line up horizontally by two */
/* Sets the larger image to be responsive to screen change */
.cards, .larger-image {
  display: flex;
  flex-wrap: wrap;
}

/* Sets padding of the text description and aligns text center */
.desc {
    padding: 15px;
    text-align: center;
}

  /* Media Query */
  /* Class Selectors */
  /* makes the gallery responsive to window resizing */
  /* Code applies to tablet sizing and above */
  @media screen and (min-width: 768px) {
    .responsive {
      flex: 0 0 50%;
      margin: 6px 0;
    }
  }

  /* Do I need this? */
  /* @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  } */

  /* Class Selectors */
  /* Creates the white box */
  /* Gives proper margin around the top of the element in relation to the gallery */
  /* Sets background color */
  /* Sets padding around the text in relation to the white box */
  .contact-me-page {
    text-align: center;
    margin-top: 70px;
    background-color: darkkhaki;
    padding: 20px;
  }

  /* Aligns the links horizontally across the footer */
  /* Sets proper spacing between links */
  /* Sets font size and centers the links */

  .align-links {
    display: inline-block;
    margin-left: 20px;
    font-size: 20px;
    text-align: center;
  }

  /* NEW CODE */
  @media (min-width: 300px) {
    .header-elements,
    ul {
      display: flex;
    }
    .header-elements {
      flex-direction: column;
      align-items: center;
        .header{
      width: 100%;
      margin: 0 auto;
      max-width: 1150px;
    }
    }
  
  }
  
  @media (min-width: 1025px) {
    .header-elements {
      flex-direction: row;
      justify-content: space-between;
    }
  
  }

  @media (min-width: 300px) {
    .contact-me-page, .align-links {
      display: flex;
    }
    .contact-me-page, .align-links {
      flex-direction: column;
      align-items: center;
        .header{
      width: 100%;
      margin: 0 auto;
      max-width: 1150px;
    }
    }
  
  }
  
  @media (min-width: 1025px) {
    .contact-me-page, .align-links {
      flex-direction: row;
      justify-content: space-between;
    }
  
  }